avro/python/venv
__pycache__

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.tar.gz
dist/

# python virtualenv
*/venv/

# don't check in generated script
avro/bin/avro-idl.sh
